[submodule "coffee-script"]
	path = coffee-script
	url = git://github.com/jashkenas/coffee-script-tmbundle.git
[submodule "github-gist"]
  path = github-gist
  url = git@github.com:cj/sublime-github.git
[submodule "Alignment"]
	path = Alignment
	url = git://github.com/wbond/sublime_alignment.git
