[submodule "CoffeeScript"]
	path = CoffeeScript
	url = git://github.com/jashkenas/coffee-script-tmbundle.git
[submodule "github-gist"]
  path = github-gist
  url = git@github.com:cj/sublime-github.git
[submodule "Alignment"]
	path = Alignment
	url = git://github.com/wbond/sublime_alignment.git
[submodule "jshint"]
	path = jshint
	url = git://github.com/uipoet/sublime-jshint.git
[submodule "WordHighlight"]
	path = WordHighlight
	url = git://github.com/SublimeText/WordHighlight.git
[submodule "sniptastic"]
	path = sniptastic
	url = git://github.com/bobthecow/sublime-sniptastic.git
[submodule "SaneSnippets"]
	path = SaneSnippets
	url = git://github.com/bobthecow/sublime-sane-snippets.git
[submodule "SyntaxGet"]
	path = SyntaxGet
	url = git://github.com/lunixbochs/sublime-syntaxget.git
[submodule "CTags"]
	path = CTags
	url = git://github.com/SublimeText/CTags.git
[submodule "apache"]
	path = apache
	url = https://github.com/textmate/apache.tmbundle.git
[submodule "Tomorrow-Theme"]
	path = Tomorrow-Theme
	url = https://github.com/ChrisKempson/Tomorrow-Theme.git
[submodule "ST2-GitHubinator"]
	path = ST2-GitHubinator
	url = git://github.com/ehamiter/ST2-GitHubinator.git
[submodule "jQuery"]
	path = jQuery
	url = https://github.com/mrmartineau/jQuery.git
[submodule "Placeholders"]
	path = Placeholders
	url = git://github.com/mrmartineau/Placeholders.git
[submodule "Theme - Soda"]
	path = Theme - Soda
	url = https://github.com/buymeasoda/soda-theme.git
[submodule "sublime-text-2-git"]
	path = sublime-text-2-git
	url = https://github.com/kemayo/sublime-text-2-git.git
[submodule "BracketHighlighter"]
	path = BracketHighlighter
	url = https://github.com/facelessuser/BracketHighlighter.git
[submodule "PhpDoc"]
	path = PhpDoc
	url = https://github.com/SublimeText/PhpDoc.git
[submodule "less"]
	path = less
	url = https://github.com/appden/less.tmbundle.git
[submodule "DetectSyntax"]
	path = DetectSyntax
	url = git://github.com/phillipkoebbe/DetectSyntax.git
